%style
  :plain
    em {font-size: 11px;}
    a { text-decoration : none; }

-header ||= 'title'

#content-header
  =image_tag 'home.png'
  %h1=title 
  %h3 Financial Data Management System
  #app-back-button
    =link_to_function image_tag("buttons/back.png",:border => 0), "history.back()" 

#inner-tab-menu
  %ul
    %li
      =link_to " Balance Sheet ", polymorphic_path([:personal_finance, :balance_sheet])
      
#page-yield
  -if flash[:notice].present? 
    %p.flash-msg
      = flash[:notice]