%table{ :class => 'table table-striped table-condensed table-bordered' }
	%thead
		%tr
			%th{ :class => "colPosition"} S.no
			%th{ :class => "colPosition"} Account Number
			%th{ :class => "colPosition"} Partner ID
			%th{ :class => "colPosition"} Loan Name
			%th{ :class => "colPosition"}
				= payment_mode
			%th{ :class => "colPosition"}
				= amount_mode
			%th{ :class => "colPosition"} Total Amount Paid
			%th{ :class => "colPosition"} Date of Issue
			%th{ :class => "colPosition"} Full Details