<style>
.box{width: 500px; margin: 0px auto;}
</style>

<%= render :partial => '/personal_finance/shared/header',  :locals => {:title => "Add New Expense"} %>
<div class="box">
  <%= render 'form' %>
</div>