%style
  :plain
    em {font-size: 11px;}
    a { text-decoration : none; }

-header ||= 'title'
#content-header
  -unless @partner.photo.blank? or @partner.photo.nil?
    =image_tag @partner.photo_url, :size => '70x70', :class => 'thumbnail'
  -else
    =image_tag 'customer.jpeg'
  %h1=title 
  %h3 Financial Data Management System
  #app-back-button
    =link_to_function image_tag("buttons/back.png",:border => 0), "history.back()" 

#inner-tab-menu
  %ul
    %li=link_to 'All Partners', partners_path

#page-yield
  -if flash[:notice].present? 
    %p.flash-msg
      = flash[:notice]