<style>
.box{
    width: 500px;
    margin: 0px auto;
}
</style>


<div id="content-header">
  <%= image_tag('rents.jpeg', :height => '65px') %>
  <h1> Properties </h1>
  <h3> New Property Details </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
   
  </ul>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="box">

<%= render 'form' %>

</div>
</div>
