= render :partial => 'personal_finance/shared/header',  :locals => {:title => "Welcome"}
.box
	.link-box
		.link-heading
			= link_to 'Income', polymorphic_path([:finance_inflows])
		.link-descr Finance/Money In Flow

	.link-box
		.link-heading
			= link_to 'Expenses', polymorphic_path([:finance_outflows])
		.link-descr Finance/Money Out Flow

	.link-box
		.link-heading
			= link_to 'Transaction Balance sheet ', polymorphic_path([:personal_finance, :balance_sheet])
		.link-descr Issue/Pay Daily Finance